Repository ansys/pysystem-coupling, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, enhancement, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- pyproject.toml
enhancement:
- src/**
testing:
- tests/**

Removes the unecessary docs build file
  doc/source/_templates/sidebar-nav-bs.html
Labels: documentation

Add edit this page
  doc/source/conf.py
  doc/source/contributing.rst
Labels: documentation

Add the version
  src/ansys/systemcoupling/core/_version.py
Labels: enhancement

Add the version
  src/ansys/systemcoupling/core/__init__.py
  src/ansys/systemcoupling/core/_version.py
Labels: enhancement

Modify the toml dependency
  pyproject.toml
Labels: maintenance, dependencies

Try to build pdf with ansys-sphinx theme
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
  tests/test_datamodel.py
  tests/test_datamodel_metadata.py
  tests/test_object_path.py
  tests/test_syc_session.py
Labels: documentation, maintenance, dependencies, testing

remove the changes
  doc/source/conf.py
Labels: documentation

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: maintenance

Add extended memory
  doc/source/conf.py
Labels: documentation
