Repository ansys/pysystem-coupling, pull requests merged in 2024-07, with the labels that each got.

#312 Convergence charts using matplotlib
  pyproject.toml
  src/ansys/systemcoupling/core/adaptor/impl/injected_commands.py
  src/ansys/systemcoupling/core/charts/chart_datatypes.py
  src/ansys/systemcoupling/core/charts/csv_chartdata.py
  src/ansys/systemcoupling/core/charts/live_csv_datasource.py
  src/ansys/systemcoupling/core/charts/message_dispatcher.py
  src/ansys/systemcoupling/core/charts/plot_functions.py
  src/ansys/systemcoupling/core/charts/plotdefinition_manager.py
  src/ansys/systemcoupling/core/charts/plotter.py
  tests/charts/test_csv_chartdata.py
  tests/charts/test_message_dipatcher.py
  tests/charts/test_plotdefinition_manager.py
  tests/charts/test_plotter.py
  tests/test_mocksolve_container.py
Labels: enhancement, dependencies, testing, maintenance

#331 Updates for new release targeting 24.2
  .github/workflows/ci.yml
  README.rst
  doc/source/contributing.rst
  doc/source/examples/00-systemcoupling/heating_tank_fmu.ipynb
  doc/source/examples/00-systemcoupling/heating_tank_fmu.py
  doc/source/examples/00-systemcoupling/heating_tank_fmu.py.md5
  doc/source/examples/00-systemcoupling/heating_tank_fmu.rst
  doc/source/examples/00-systemcoupling/heating_tank_fmu_codeobj.pickle
  doc/source/examples/00-systemcoupling/images/sphx_glr_parametric_sweep_vel_001.png
  doc/source/examples/00-systemcoupling/index.rst
  doc/source/examples/00-systemcoupling/oscillating_plate.ipynb
  doc/source/examples/00-systemcoupling/oscillating_plate.py.md5
  doc/source/examples/00-systemcoupling/oscillating_plate.rst
  doc/source/examples/00-systemcoupling/oscillating_plate_codeobj.pickle
  doc/source/examples/00-systemcoupling/parametric_sweep_vel.ipynb
  doc/source/examples/00-systemcoupling/parametric_sweep_vel.py.md5
  doc/source/examples/00-systemcoupling/parametric_sweep_vel.rst
  doc/source/examples/00-systemcoupling/parametric_sweep_vel_codeobj.pickle
  doc/source/examples/00-systemcoupling/sg_execution_times.rst
  doc/source/examples/index.rst
  doc/source/getting_started/index.rst
  examples/00-systemcoupling/heating_tank_fmu.py
  examples/00-systemcoupling/parametric_sweep_vel.py
  src/ansys/systemcoupling/core/__init__.py
  src/ansys/systemcoupling/core/adaptor/impl/static_info.py
  src/ansys/systemcoupling/core/syc_version.py
Labels: documentation, enhancement, maintenance, CI/CD

#332 Bump version to 0.7.dev0
  pyproject.toml
Labels: enhancement, dependencies, maintenance

#333 Dependency on ansys-api-systemcoupling modified to latest version
  pyproject.toml
Labels: enhancement, dependencies, maintenance

#338 API build and unit testing with 'latest' image
  .github/workflows/ci.yml
  src/ansys/systemcoupling/core/client/syc_container.py
  src/ansys/systemcoupling/core/session.py
  tests/test_mocksolve_container.py
Labels: enhancement, testing, maintenance, CI/CD

#347 update oscillating plate example
  .github/workflows/ci.yml
  doc/source/_static/oscplate_pressure_contour.png
  examples/00-systemcoupling/heating_tank_fmu.py
  examples/00-systemcoupling/oscillating_plate.py
Labels: documentation, maintenance, CI/CD
