Repository ansys/pysystem-coupling, pull requests merged in 2024-06, with the labels that each got.

#320 fix hasattr syntax error
  src/ansys/systemcoupling/core/participant/manager.py
Labels: enhancement

#323 Pass whole Session object into get_injected_cmd_map
  src/ansys/systemcoupling/core/adaptor/impl/injected_commands.py
  src/ansys/systemcoupling/core/participant/manager.py
  src/ansys/systemcoupling/core/session.py
Labels: bug, enhancement

#324 Switch from "latest" to recent "v24.2.0" container for workflows
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

#327 Query of missing property now returns None
  src/ansys/systemcoupling/core/adaptor/impl/syc_proxy.py
  src/ansys/systemcoupling/core/adaptor/impl/syc_proxy_interface.py
  src/ansys/systemcoupling/core/adaptor/impl/types.py
  tests/test_datamodel.py
Labels: bug, enhancement, testing

#330 Documentation edits
  doc/source/api/core/adaptor/api.rst
  doc/source/examples/00-systemcoupling/heating_tank_fmu.py
  doc/source/examples/00-systemcoupling/parametric_sweep_vel.py
  doc/source/index.rst
  doc/source/users_guide/analysis_setup.rst
  doc/source/users_guide/index.rst
  doc/source/users_guide/syc_datamodel.rst
  doc/source/users_guide/syc_solution.rst
  doc/source/users_guide/system_coupling_concepts.rst
Labels: documentation
