Repository ansys/pysystem-coupling, pull requests merged in 2024-09, with the labels that each got.

#378 DOC: New Turek Hron example
  doc/source/_static/turek_horn_fsi2_pressure_contour.png
  doc/source/_static/turek_horn_fsi2_tip_disp.png
  doc/source/_static/turek_hron_case.png
  doc/source/_static/turek_hron_pressure_field_at_15_sec.png
  doc/source/_static/turek_hron_velocity.jpg
  doc/source/_static/turek_hron_velocity_at_15_sec.jpg
  doc/source/_static/turek_hron_velocity_field_at_15_sec.png
  doc/source/conf.py
  examples/00-systemcoupling/turek_hron_fsi2.py
Labels: documentation

#391 MAINT: Update update-license-header version
  .pre-commit-config.yaml
  LICENSE
Labels: maintenance

#388 Fix: file upload issues local vs container
  src/ansys/systemcoupling/core/adaptor/impl/injected_commands.py
  src/ansys/systemcoupling/core/client/grpc_client.py
  src/ansys/systemcoupling/core/session.py
  src/ansys/systemcoupling/core/util/file_transfer.py
Labels: bug, enhancement

#379 Updated Sphinx-Gallery heating tank FMU examples
  examples/00-systemcoupling/heating_tank_fmu.py
  examples/00-systemcoupling/heating_tank_fmu_fmu.py
Labels: documentation

#401 Fix Contributing section re Sphinx Gallery generation
  doc/source/contributing.rst
Labels: documentation

#403 Post release version bump to 0.9.dev0
  pyproject.toml
Labels: dependencies, maintenance
