Repository ansys/pysystem-coupling, pull requests merged in 2024-08, with the labels that each got.

#335 Heating tank FMU-FMU Sphinx gallery example
  doc/source/_static/fmu_fmu.png
  examples/00-systemcoupling/heating_tank_fmu.py
  examples/00-systemcoupling/heating_tank_fmu_fmu.py
Labels: documentation

#356 added fluid swirl example
  doc/source/_static/fluid_swirl_pathline.png
  doc/source/_static/fluid_swirl_point_cloud.png
  doc/source/_static/fluid_swirl_setup.png
  examples/00-systemcoupling/fluid_swirl.py
Labels: documentation

#361 Fix to copy files from other directories into cwd during file upload
  src/ansys/systemcoupling/core/adaptor/impl/injected_commands.py
  src/ansys/systemcoupling/core/util/file_transfer.py
Labels: enhancement

#362 Drop Python 3.9 support
  .github/workflows/ci.yml
  doc/source/getting_started/index.rst
  pyproject.toml
Labels: bug, documentation, dependencies, maintenance, CI/CD

#365 Update Ansys Sphinx Theme to use new v1 release
  doc/source/conf.py
  pyproject.toml
Labels: documentation, dependencies, maintenance

#384 Bump version to 0.8.dev0 following 0.7.0 release
  pyproject.toml
Labels: dependencies, maintenance

#385 Re-enable 'test' job in workflow
  .github/workflows/ci.yml
Labels: maintenance
