Repository ansys/pysystem-coupling, pull requests merged in 2024-05, with the labels that each got.

#303 Upgrade vale to 3.4.1 with required supporting changes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  doc/.vale.ini
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Labels: maintenance, CI/CD

#305 Bump version to 0.6.dev0
  pyproject.toml
Labels: enhancement, dependencies, maintenance

#314 Implemented seamless upload file functionality in add_participant function
  src/ansys/systemcoupling/core/__init__.py
  src/ansys/systemcoupling/core/adaptor/impl/injected_commands.py
  src/ansys/systemcoupling/core/client/grpc_client.py
  src/ansys/systemcoupling/core/participant/manager.py
  src/ansys/systemcoupling/core/util/file_transfer.py
Labels: enhancement

#306 add region_discretization_type properties to region protocol
  src/ansys/systemcoupling/core/adaptor/impl/injected_commands.py
  src/ansys/systemcoupling/core/participant/manager.py
  src/ansys/systemcoupling/core/participant/protocol.py
  src/ansys/systemcoupling/core/session.py
  tests/test_participant_mgr.py
Labels: documentation, enhancement, dependencies, testing, maintenance
