Repository ansys/pysystem-coupling, pull requests merged in 2024-01, with the labels that each got.

#238 Mapdl integration
  src/ansys/systemcoupling/core/adaptor/impl/injected_commands.py
  src/ansys/systemcoupling/core/participant/mapdl.py
Labels: enhancement

#241 Try to fix recent build failure - possibly arising from action upgrade
  .github/workflows/ci.yml
  tests/test_mocksolve_container.py
Labels: bug, testing, maintenance, CI/CD

#247 Fix 'black' failures
  scripts/generate_datamodel.py
  src/ansys/systemcoupling/core/adaptor/impl/root_source.py
  src/ansys/systemcoupling/core/adaptor/impl/types.py
  src/ansys/systemcoupling/core/examples/downloads.py
Labels: enhancement, maintenance

#251 Fix unit test failure resulting from new container
  tests/test_mocksolve_container.py
Labels: testing, maintenance

#246 Update pre-commit config
  .pre-commit-config.yaml
  doc/datamodel_rstgen.py
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/users_guide/analysis_setup.rst
  doc/source/users_guide/index.rst
  doc/source/users_guide/syc_datamodel.rst
  doc/source/users_guide/syc_persistence.rst
  doc/source/users_guide/syc_solution.rst
  examples/00-systemcoupling/oscillating_plate.py
  examples/00-systemcoupling/parametric_sweep_vel.py
  src/ansys/systemcoupling/core/util/pathstr.py
Labels: documentation, enhancement, maintenance

#250 Build 241 API using release image
  .github/workflows/ci.yml
  src/ansys/systemcoupling/core/adaptor/impl/get_syc_version.py
Labels: enhancement, testing, maintenance, CI/CD

#253 Prepare doc for next release
  README.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/users_guide/analysis_setup.rst
  doc/source/users_guide/index.rst
  doc/source/users_guide/syc_solution.rst
  src/ansys/systemcoupling/core/__init__.py
Labels: documentation, enhancement

#240 heating-tank-fmu example for the Sphinx gallery examples
  .github/workflows/ci.yml
  doc/source/_static/heating_tank_fmu.png
  doc/source/_static/images/heating_tank_fmu/scene-contour-total-temperature-multiplane-xy.png
  doc/source/_static/images/heating_tank_fmu/scene-contour-total-temperature-plane-zx-0.png
  doc/source/_static/images/heating_tank_fmu/scene-contour-velocity-magnitude-multiplane-xy.png
  doc/source/_static/images/heating_tank_fmu/scene-contour-velocity-magnitude-plane-zx-0.png
  doc/source/_static/images/heating_tank_fmu/scene-vectors-total-temperature-plane-zx-0.png
  doc/source/examples/00-systemcoupling/heating_tank_fmu.ipynb
  doc/source/examples/00-systemcoupling/heating_tank_fmu.py
  doc/source/examples/00-systemcoupling/heating_tank_fmu.py.md5
  doc/source/examples/00-systemcoupling/heating_tank_fmu.rst
  doc/source/examples/00-systemcoupling/heating_tank_fmu_codeobj.pickle
  doc/source/examples/00-systemcoupling/images/sphx_glr_parametric_sweep_vel_001.png
  doc/source/examples/00-systemcoupling/images/thumb/sphx_glr_heating_tank_fmu_thumb.png
  doc/source/examples/00-systemcoupling/index.rst
  doc/source/examples/00-systemcoupling/oscillating_plate.ipynb
  doc/source/examples/00-systemcoupling/oscillating_plate.py
  doc/source/examples/00-systemcoupling/oscillating_plate.py.md5
  doc/source/examples/00-systemcoupling/oscillating_plate.rst
  doc/source/examples/00-systemcoupling/oscillating_plate_codeobj.pickle
  doc/source/examples/00-systemcoupling/parametric_sweep_vel.ipynb
  doc/source/examples/00-systemcoupling/parametric_sweep_vel.py
  doc/source/examples/00-systemcoupling/parametric_sweep_vel.py.md5
  doc/source/examples/00-systemcoupling/parametric_sweep_vel.rst
  doc/source/examples/00-systemcoupling/parametric_sweep_vel_codeobj.pickle
  doc/source/examples/00-systemcoupling/sg_execution_times.rst
  doc/source/examples/index.rst
  examples/00-systemcoupling/heating_tank_fmu.py
  examples/00-systemcoupling/parametric_sweep_vel.py
Labels: documentation, maintenance, CI/CD
