Repository ansys/pysystem-coupling, pull requests merged in 2025-03, with the labels that each got.

#460 ci: fix the port on the doc build
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  doc/mapdl-docker-compose.yml
  pyproject.toml
Labels: dependencies, maintenance, CI/CD

#461 MAINT: various changes in preparation for release targeting 25.1
  .github/workflows/ci.yml
  README.rst
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  src/ansys/systemcoupling/core/__init__.py
  src/ansys/systemcoupling/core/adaptor/impl/static_info.py
  src/ansys/systemcoupling/core/charts/csv_chartdata.py
  src/ansys/systemcoupling/core/client/services/command_query.py
  src/ansys/systemcoupling/core/client/services/handle_rpc_error.py
  src/ansys/systemcoupling/core/client/services/solution.py
  src/ansys/systemcoupling/core/client/syc_container.py
  src/ansys/systemcoupling/core/syc_version.py
Labels: documentation, enhancement, maintenance, CI/CD

#466 FIX: revert bump of ansys-fluent-core
  pyproject.toml
Labels: bug, dependencies, maintenance

#467 MAINT: More preparation for release - SyC 25.1 patch
  README.rst
  patches/README.txt
  patches/SystemCoupling-25.1-gRPC-patch-linux.tgz
  patches/SystemCoupling-25.1-gRPC-patch-windows.7z
  src/ansys/systemcoupling/core/client/grpc_client.py
  src/ansys/systemcoupling/core/client/syc_process.py
Labels: documentation, enhancement, maintenance

#469 Revert "Bump ansys-fluent-core from 0.29.0 to 0.30.2"
  pyproject.toml
Labels: dependencies, maintenance

#449 MAINT: support Python 3.13
  .github/workflows/ci.yml
  .gitignore
  README.rst
  pyproject.toml
Labels: documentation, dependencies, maintenance

#470 MAINT: add AUTHORS and CONTRIBUTORS files
  AUTHORS
  CONTRIBUTORS.md
  patches/README.txt
Labels: maintenance

#472 MAINT: Post-release version bump to 0.10.dev0
  .github/workflows/ci.yml
  pyproject.toml
Labels: dependencies, maintenance, CI/CD

#473 FIX: handling of named objects in set_state
  src/ansys/systemcoupling/core/adaptor/impl/syc_proxy.py
  src/ansys/systemcoupling/core/util/state_keys.py
  tests/test_container.py
Labels: bug, enhancement, testing

#474 maint: bump ansys-sphinx theme version 1.4.1
  pyproject.toml
Labels: dependencies, maintenance
